<!doctype html>
<html class="no-js" lang="">
  <head>
  	<%- partial('common/meta') %>
    <title><%= title %>_搜评</title>
    <%- partial('common/head') %>
    <style>
		.h1 {
		    margin-top:5px;
		    font-size:32px;
		    font-family:Microsoft YaHei;
		    color:#3388FF;
		    cursor:pointer;
		}
		.div_main {
			margin:1% 0% 0% 0%;
		}
		#loading {
			display:none;
		}
		.h3 {
		    margin:25% 0% 1% 0%;
		}
		.div_img {
			float:left;
			width:30%;
			margin-left:5%;
		}
		.div_center {
			float:left;
			width:5%;
		}
		.div_right {
			width:55%;
			float:left;
		}
	</style>
  </head>
  <body>
  	<%- partial('common/ie') %>
  	<div class="container">
  		<div class="div_main">
			<div class="row">
				<div class="col-md-1">
					<a href="/" style="text-decoration:none;"><h1 class="h1">搜评</h1></a>
				</div>
				<div class="col-lg-5">
			    	<div class="input-group">
			    			<input type="text" class="form-control input-lg" id="key" maxlength="100" value="<%  if (typeof(key) !== 'undefined' && key !== null)  { %><%= key %><%  }  %>" >	
					      <span class="input-group-btn">
					        	<button class="btn btn-warning btn-lg" id="submit" onclick="search()">
					        		&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
					        	</button>
					      </span>
			    	</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				<div class="col-md-3">
					<i id="loading" class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
			</div><!-- /.row -->
		</div>
		<br>
	<hr>
	<div>

    <div class="div_img">
    	<img src="<%= movie_obj.douban_src %>">
    </div>
    <div class="div_center">
    	&nbsp;
    </div>
    <div class="table-responsive" class="div_right">
    	<h3 class="sub-header">评分信息</h3>
    	<hr>
            <table class="table table-striped">
            	<tbody>
		    	<tr>
		    		<th width="8%"></th>
		    		<th width="10%">豆瓣</th>
		    		<th width="10%">IMDB</th>
		    	</tr>
		    	<tr>
		    		<td>评分</td>
		    		<td><span style="color:#f0ad4e;font-weight:600;font-size:20px;"><%= movie_obj.douban_score_1 %></span><% if (movie_obj.douban_score_2 !== '' ) { %><span style="color:#f0ad4e;font-weight:600;">.<%= movie_obj.douban_score_2 %></span><% } %></td>
		    		<td id="imdb_score">
			    		<% if (typeof(movie_obj.imdb_url) !== 'undefined' && movie_obj.imdb_url !== null) { %>
			    			数据获取中，请稍后...
			    		<%  } else { %>
			    			暂无
			    		<% } %>	
		    		</td>	
		    	</tr>
		    	<tr>
		    		<td>评分人数</td>
		    		<td><span style="color:#5cb85c;font-weight:600;"><%= movie_obj.douban_user %></span></td>
		    		<td id="imdb_user">
			    		<% if (typeof(movie_obj.imdb_url) !== 'undefined' && movie_obj.imdb_url !== null) { %>
			    			数据获取中，请稍后...
			    		<%  } else { %>
			    			暂无
			    		<% } %>	
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>地址</td>
		    		<td><span style="color:##3388FF;font-weight:600;"><a href="<%= movie_obj.douban_url %>" target="_blank">豆瓣</a></span></td>
		    		<td>
			    		<% if (typeof(movie_obj.imdb_url) !== 'undefined' && movie_obj.imdb_url !== null) { %>
			    			<span style="color:##3388FF;font-weight:600;"><a href="<%= movie_obj.imdb_url %>" target="_blank">IMDB</a></span>
			    			<input hidden id="imdb_url" value="<%= movie_obj.imdb_url %>" >
			    		<%  } else { %>
			    			暂无
			    		<% } %>	
		    		</td>
		    	</tr>	
    		</tbody>
    	</table>
    </div>
    
    </div>
    <br>
    
    <div>
    	<h3 class="h3">影片信息</h3>
    	<hr>
            <table class="table table-striped">
            	<tbody>
			    	<tr>
			    		<td width="10%">片名</td>
			    		<td>
				    		<% if (typeof(film_info.title) !== 'undefined' && film_info.title !== null && film_info.title !== '') { %>
				    			<%= film_info.title %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>	
			    	</tr>
			    	<tr>
			    		<td>年代</td>
			    		<td>
				    		<% if (typeof(film_info.year) !== 'undefined' && film_info.year !== null && film_info.year !== '') { %>
				    			<%= film_info.year %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>导演</td>
			    		<td>
				    		<% if (typeof(film_info.directors) !== 'undefined' && film_info.directors !== null && film_info.directors !== '') { %>
				    			<%= film_info.directors %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>编剧</td>
			    		<td>
				    		<% if (typeof(film_info.writers) !== 'undefined' && film_info.writers !== null && film_info.writers !== '') { %>
				    			<%= film_info.writers %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>主演</td>
			    		<td>
				    		<% if (typeof(film_info.casts) !== 'undefined' && film_info.casts !== null && film_info.casts !== '') { %>
				    			<%= film_info.casts %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>影片类型</td>
			    		<td>
				    		<% if (typeof(film_info.genres) !== 'undefined' && film_info.genres !== null && film_info.genres !== '') { %>
				    			<%= film_info.genres %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<tr>
			    		<td>制片国家/地区</td>
			    		<td>
				    		<% if (typeof(film_info.countries) !== 'undefined' && film_info.countries !== null && film_info.countries !== '') { %>
				    			<%= film_info.countries %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
			    	<% if (subtype === 'tv') { %>
			    		<tr>
				    		<td>首播</td>
				    		<td>
					    		<% if (typeof(film_info.pubdates) !== 'undefined' && film_info.pubdates !== null && film_info.pubdates !== '') { %>
					    			<%= film_info.pubdates %>
					    		<%  } else { %>
					    			暂无
					    		<% } %>	
				    		</td>
				    	</tr>
			    	<%  } else { %>
			    		<tr>
				    		<td>上映日期</td>
				    		<td>
					    		<% if (typeof(film_info.pubdates) !== 'undefined' && film_info.pubdates !== null && film_info.pubdates !== '') { %>
					    			<%= film_info.pubdates %>
					    		<%  } else { %>
					    			暂无
					    		<% } %>	
				    		</td>
				    	</tr>
				    	<tr>
				    		<td>片长</td>
				    		<td>
					    		<% if (typeof(film_info.durations) !== 'undefined' && film_info.durations !== null && film_info.durations !== '') { %>
					    			<%= film_info.durations %>
					    		<%  } else { %>
					    			暂无
					    		<% } %>	
				    		</td>
				    	</tr>
			    	<% } %>	
			    	<tr>
			    		<td>简介</td>
			    		<td>
				    		<% if (typeof(film_info.summary) !== 'undefined' && film_info.summary !== null && film_info.summary !== '') { %>
				    			<%= film_info.summary %>
				    		<%  } else { %>
				    			暂无
				    		<% } %>	
			    		</td>
			    	</tr>
    		</tbody>
    	</table>
	</div>
	<br>
    <h3 class="sub-header">豆瓣短评</h3>
    <hr>
    	<% if (typeof(s_comments) !== 'undefined' && s_comments.length > 0) { %>
			<% s_comments.forEach(function (v, k){ %>
				<div class="media">
				  <div class="media-body">
				  	<h4 class="media-heading">
				  		<ul class="nav nav-pills" role="tablist">
					      <li role="presentation"><a href="<%= v.user_url %>" target="_blank"><%= v.user_name %></a></li>
					      <li role="presentation" style="margin-top:2.5%;"><%= v.comment_time %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					      <li role="presentation" style="margin-top:2.5%;">
					      	<% if (typeof(v.rate) !== 'undefined' && v.rate !== null && v.rate !== '') { %>
					      		<% if (v.rate === '力荐') { %>
					      			<span class="label label-primary">&nbsp;<%= v.rate %>&nbsp;</span>
					      		 <% } else if(v.rate === '推荐') { %>
					      		 	<span class="label label-success">&nbsp;<%= v.rate %>&nbsp;</span>
					      		 <% } else if(v.rate === '还行') { %>
					      		 	<span class="label label-info">&nbsp;<%= v.rate %>&nbsp;</span>
					      		 <% } else if(v.rate === '较差') { %>
					      		 	<span class="label label-warning">&nbsp;<%= v.rate %>&nbsp;</span>
					      		 <% } else { %>
					      		 	<span class="label label-danger">&nbsp;<%= v.rate %>&nbsp;</span>
					      		 <% } %>
					      		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						    <% } %>
					      	</li>
					      <li role="presentation" style="margin-top:2.5%;"><code><%= v.votes %>有用</code></li>
						</ul> 	 		
				  	</h4>
				  </div>
				  <div class="well">
				    	<%= v.comment_content %>
					</div>
				</div>
				<br>
			<% })%>
		<% } else { %>
			暂无
		<% } %>	
    <br>
    <h3 class="sub-header">豆瓣长评</h3>
    <hr>
    	<% if (typeof(l_comments) !== 'undefined' && l_comments.length > 0) { %>
			<% l_comments.forEach(function (v, k){ %>
				<div class="media">
				  <div class="media-body">
				  	<h4 class="media-heading">
				  		<a href="<%= v.comment_url %>" target="_blank"><%= v.comment_title %></a>
				  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <% if (typeof(v.rate) !== 'undefined' && v.rate !== null && v.rate !== '') { %>
				      		<% if (v.rate === '力荐') { %>
				      			<span class="label label-primary">&nbsp;<%= v.rate %>&nbsp;</span>
				      		 <% } else if(v.rate === '推荐') { %>
				      		 	<span class="label label-success">&nbsp;<%= v.rate %>&nbsp;</span>
				      		 <% } else if(v.rate === '还行') { %>
				      		 	<span class="label label-info">&nbsp;<%= v.rate %>&nbsp;</span>
				      		 <% } else if(v.rate === '较差') { %>
				      		 	<span class="label label-warning">&nbsp;<%= v.rate %>&nbsp;</span>
				      		 <% } else { %>
				      		 	<span class="label label-danger">&nbsp;<%= v.rate %>&nbsp;</span>
				      		 <% } %>					 	
					    <% } %>	
				  	</h4>
				  	<ul class="nav nav-pills" role="tablist">
					      <li role="presentation"><a href="<%= v.user_url %>" target="_blank"><img width="24" height="24" src="<%= v.user_img %>">&nbsp;&nbsp;<%= v.user_name %></a></li>
					</ul> 
					<br>
					<div class="well">
				    <%= v.comment_content %><a href="<%= v.comment_url %>" target="_blank">更多</a>
				    </div>
				  </div>
				</div>
				<br>
			<% })%>
		<% } else { %>
			暂无
		<% } %>	
	</div>
	<%- partial('common/foot') %>
    <script src="js/detail.js"></script>
  </body>
</html>

