<!DOCTYPE html>
<html>
  <head>
    <title>找不到啦_搜评</title>
    <%- partial('common') %>
  </head>
  <body>
  	<div style="margin:1% 10% 0% 5%;">
			<div class="row">
				<div class="col-md-1">
					<a href="/" style="text-decoration:none;"><h1 style="margin-top:5px;font-size:32px;font-family:Microsoft YaHei;color:#3388FF;cursor:pointer">搜评</h1></a>
				</div>
				<div class="col-lg-5">
					<form role="form">
				    	<div class="input-group">
				    			<%  if (typeof(key) !== 'undefined' && key !== null)  { %>
						    		<input type="text" class="form-control input-lg" id="key" maxlength="100" value="<%= key %>" >
						    	<%  } else { %>
						    		<input type="text" class="form-control input-lg" id="key" maxlength="100" >
						    	<% } %>	
						      <span class="input-group-btn">
						        	<button class="btn btn-warning btn-lg" id="submit" onclick="search()">
						        		&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
						        	</button>
						      </span>
				    	</div><!-- /input-group --> 	
				    </form>
				</div><!-- /.col-lg-5 -->
				<div class="col-md-3" style="margin-top:0%;min-height:90px;">
					<i id="loading" style="display:none;" class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
			</div><!-- /.row -->
			<br>
			<h1>亲，我也布吉岛，去问豆瓣啦<h1>
	</div>   
  </body>
</html>

