<!DOCTYPE html>
<html>
  <head>
    <title>搜评</title>
    <%- partial('common') %>
  </head>
  <body>
		<div style="margin:20% 10% 20% 30%;">
			<div class="row">
				<div class="col-lg-8">
					<form role="form">
				    	<div class="input-group">
						      <input type="text" id="key" maxlength="100" class="form-control input-lg">
						      <span class="input-group-btn">
						        	<button class="btn btn-warning btn-lg" id="submit" onclick="search()">
						        		&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
						        	</button>
						      </span>
				    	</div><!-- /input-group -->
				    </form>
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			<div id="loading" style="margin:0% 10% 0% 20%;display:none;">
				<img width="200px" height="150px" src="/images/loading.gif">
			</div>
		</div>
  </body>
</html>
