<!doctype html>
<html class="no-js" lang="">
  <head>
  	<%- partial('common/meta') %>
    <title><%= key %>_搜评</title>
    <%- partial('common/head') %>
	<style>
		.h1 {
		    margin-top:5px;
		    font-size:32px;
		    font-family:Microsoft YaHei;
		    color:#3388FF;
		    cursor:pointer;
		}
		.div_bottom {
			margin-bottom:140px;
		}
		.div_main {
			margin:1% 0% 0% 0%;
		}
		#loading {
			display:none;
		}
	</style>
  </head>
  <body>
    <%- partial('common/ie') %>
  	<div class="container div_bottom">
		<div class="div_main">
			<div class="row">
				<div class="col-md-1">
					<a href="/" style="text-decoration:none;"><h1 class="h1">搜评</h1></a>
				</div>
				<div class="col-lg-5">
			    	<div class="input-group">
			    		<input type="text" class="form-control input-lg" id="key" baiduSug="2" maxlength="100" value="<%  if (typeof(key) !== 'undefined' && key !== null)  { %><%= key %><%  }  %>" >
					    <span class="input-group-btn">
				        	<button class="btn btn-warning btn-lg" id="submit" onclick="search()">
				        		&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
				        	</button>
					    </span>
			    	</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				<div class="col-md-3">
					<i id="loading" class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
			</div><!-- /.row -->
		</div>
		<br>
		<% if (typeof(list) !== 'undefined' && list.length > 0) { %>
			<% list.forEach(function (v, k){ %>
				<div class="media">
				  <div class="media-body">
				  	<h4 class="media-heading">
				  		<a href="/detail?id=<%= v.id %>" data-toggle="popover" onmouseover="showPop('<%= v.id %>','<%= v.img %>','<%= k %>','<%= v.title %>')"  onmouseout="hidePop('<%= v.id %>')" id="<%= v.id %>" target="_blank"><%= v.title %>
						<% if (typeof(v.year) !== 'undefined' && v.year !== '') { %>
						(<%= v.year %>)
						<% } %>
						</a>
				  	</h4>
				  	<b>豆瓣评分：</b><b style="color:#C7254E;"><%= v.score %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	<b>类型：</b><% if (v.subtype === 'tv') { %>
				  		连续剧
				  	<%  } else { %>
				  		电影
				  	<% } %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	<b>原始名：</b>
					<% if (typeof(v.org_title) !== 'undefined' && v.org_title !== null && v.org_title !== '') { %>
						<%= v.org_title %>
					<%  } else { %>
						暂无
					<% } %>
				  	<br>
				  	<b>导演：</b>
					<% if (typeof(v.directors) !== 'undefined' && v.directors !== null && v.directors !== '') { %>
						<%= v.directors %>
					<%  } else { %>
						暂无
					<% } %>
				  	<br>
				  	<b>主演：</b>
					<% if (typeof(v.casts) !== 'undefined' && v.casts !== null && v.casts !== '') { %>
						<%= v.casts %>
					<%  } else { %>
						暂无
					<% } %>
				  	<br>
				  	<b>影片类型：</b>
					<% if (typeof(v.genres) !== 'undefined' && v.genres !== null && v.genres !== '') { %>
						<%= v.genres %>
					<%  } else { %>
						暂无
					<% } %>
				  </div>
				</div>
				<br>
			<% })%>
		<% } %> 
	</div>
	<%- partial('common/foot') %>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>


