<!DOCTYPE html>
<html>
  <head>
    <title><%= key %>(搜评)</title>
    <%- partial('common') %>
  </head>
  <body>
  	<div class="container">
		<div style="margin:1% 0% 3% 0%;">
			<div class="row">
				<div class="col-md-1">
					<a href="/"><label style="font-size:32px;font-family:Microsoft YaHei;color:#3388FF;cursor:pointer">搜评</label></a>
				</div>
				<div class="col-lg-5">
					<form role="form" action="/main">
				    	<div class="input-group">
				    			<%  if (typeof(key) !== 'undefined' && key !== null)  { %>
						    		<input type="text" class="form-control input-lg" id="key" maxlength="100" value="<%= key %>" >
						    	<%  } else { %>
						    		<input type="text" class="form-control input-lg" id="key" maxlength="100" >
						    	<% } %>	
						      <span class="input-group-btn">
						        	<button class="btn btn-primary btn-lg" id="submit" onclick="search()">
						        		&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;
						        	</button>
						      </span>
				    	</div><!-- /input-group -->
				    </form>
				</div><!-- /.col-lg-6 -->
				<div class="col-md-3" style="margin-top:-2%;min-height:90px;">
					<img id="loading" style="display:none;" width="120px" height="90px" src="/images/loading.gif">
				</div>
			</div><!-- /.row -->
		</div>

		<% if (typeof(list) !== 'undefined' && list.length > 0) { %>
			<% list.forEach(function (v, k){ %>
				<div class="media">
				  <div class="media-body">
				  	<h4 class="media-heading">
				  		<a href="/detail?id=<%= v.id %>" target="_blank"><%= v.title %>(<%= v.year %>)</a>
				  	</h4>
				  	评分：<%= v.score %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	原始名：<%= v.org_title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	类型：<% if (v.subtype === 'tv') { %>
				  		连续剧
				  	<%  } else { %>
				  		电影
				  	<% } %> 
				  </div>
				</div>
				<br>
			<% })%>
		<% } %> 
	</div>

  </body>
</html>

